body {

  background: #ccc url("whitey.png");

}

body, td:first-child {

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;

}

table {

  background-color: #fff;
  font-family: "Courier New";

}

.table td, .table th {

  text-align: right;

}

h1 {

  font-family: Helvetica, Arial, sans-serif;

}

tr.state td {

  vertical-align: middle;

}

td.gain { background-color: #DFF0BA; }
td.gain-more { background-color: #d0e9c6; }
td.lose { background-color: #f2dede; }
td.lose-more { background-color: #ebcccc; }

th small {

  font-size: 8pt;
  text-transform: uppercase;
  color: #ddd;
  float: left;

}

div.small {

  opacity: 0.6;
  font-size: 8pt;
  margin-bottom: 10px;

}

input[type="checkbox"] {

  margin: 0;

}